form {

    padding: 10px;
    border: 3px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;

}

button{

    width: 100px;
    height: 50px;
    padding: 20px;
    background-color: rgb(78, 95, 78); 
}

body{

    background-image: url(https://imagenes.hobbyconsolas.com/files/image_640_360/uploads/imagenes/2024/05/02/6903b44ac862d.jpeg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}


h2{

    font-style: italic;
}
